{% extends "layout.html" %}
{% load staticfiles %}

{% block title %}Energy Management Unit Dashboard{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'designer/css/overview.css' %}">
{% endblock %}

{% block content %}
    <div id="designer-overview-toolbar" class="designer-toolbar">
        Drag & drop new units in the map below:
        <div class="btn-group-horizontal inline">
        {% for ut in unit_types %}
            <div class="btn btn-default add-unit" title="{{ ut.label }}" data-unit_type="{{ ut.unit_type }}">
                <i class="fa {{ ut.icon_class }}"></i>
            </div>
        {% endfor %}
        </div>
    </div>
    <div id="designer-overview-map-container">
        {% include "designer/util/loader.html" %}
    </div>

    {% include 'designer/unit/form-create.html' %}
{% endblock %}

{% block scripts %}
    <script src="{% static 'designer/js/fontawesome-markers.min.js' %}"></script>
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <script type="text/javascript" src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/infobox/src/infobox.js"></script>

    <script>
        LOADING_UNIT_TEMPLATE = '{{ LOADING_UNIT_TEMPLATE }}';
    </script>
    <script src="{% static 'designer/js/overview.js' %}"></script>
{% endblock %}